# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.kmd
build
__pycache__

# Data
*.csv
*.avi

# Captures
*.pcap

# Virtual envs
venv*

# Generated docs
docs/html

# Nextcloud
.sync*
.owncloudsync.log
.nextcloudsync.log
